deleteme-cpi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="CommunityPortalIndex" targetNamespace="urn:ch:admin:bag:epr:cpi:2017"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="urn:ch:admin:bag:epr:cpi:2017"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing">
  <wsp:Policy wsu:Id="WSHttpBinding_ICommunityPortalIndex_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ch:admin:bag:epr:cpi:2017/Imports">
      <xsd:import schemaLocation="../schema/DSMLv2.xsd" namespace="urn:oasis:names:tc:DSML:2:0:core" />
      <xsd:import schemaLocation="../schema/CIDD.xsd" namespace="urn:ch:admin:bag:epr:2017" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommunityQueryRequestMessage">
    <wsdl:part name="batchRequest" element="q1:batchRequest" xmlns:q1="urn:oasis:names:tc:DSML:2:0:core" />
  </wsdl:message>
  <wsdl:message name="CommunityQueryResponseMessage">
    <wsdl:part name="batchResponse" element="q2:batchResponse" xmlns:q2="urn:oasis:names:tc:DSML:2:0:core" />
  </wsdl:message>
  <wsdl:message name="CommunityDownloadRequestMessage">
    <wsdl:part name="downloadRequest" element="q3:downloadRequest" xmlns:q3="urn:ch:admin:bag:epr:2017" />
  </wsdl:message>
  <wsdl:message name="CommunityDownloadResponseMessage">
    <wsdl:part name="downloadResponse" element="q4:downloadResponse" xmlns:q4="urn:ch:admin:bag:epr:2017" />
  </wsdl:message>
  <wsdl:portType name="ICommunityPortalIndex">
    <wsdl:operation name="CommunityQueryRequest">
      <wsdl:input wsaw:Action="urn:ch:admin:bag:epr:2017:CommunityQuery" name="CommunityQueryRequestMessage" message="tns:CommunityQueryRequestMessage" />
      <wsdl:output wsaw:Action="urn:ch:admin:bag:epr:2017:CommunityQueryResponse" name="CommunityQueryResponseMessage" message="tns:CommunityQueryResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommunityDownloadRequest">
      <wsdl:input wsaw:Action="urn:ch:admin:bag:epr:2017:CommunityDownload" name="CommunityDownloadRequestMessage" message="tns:CommunityDownloadRequestMessage" />
      <wsdl:output wsaw:Action="urn:ch:admin:bag:epr:2017:CommunityDownloadResponse" name="CommunityDownloadResponseMessage" message="tns:CommunityDownloadResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICommunityPortalIndex" type="tns:ICommunityPortalIndex">
    <wsp:PolicyReference URI="#WSHttpBinding_ICommunityPortalIndex_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommunityQueryRequest">
      <soap12:operation soapAction="urn:ch:admin:bag:epr:2017:CommunityQuery" style="document" />
      <wsdl:input name="CommunityQueryRequestMessage">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommunityQueryResponseMessage">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommunityDownloadRequest">
      <soap12:operation soapAction="urn:ch:admin:bag:epr:2017:CommunityDownload" style="document" />
      <wsdl:input name="CommunityDownloadRequestMessage">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommunityDownloadResponseMessage">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunityPortalIndex">
    <wsdl:port name="WSHttpBinding_ICommunityPortalIndex" binding="tns:WSHttpBinding_ICommunityPortalIndex">
      <soap12:address location="https://ws.epd-ad-a.bag.admin.ch/Cpi/CommunityPortalIndex.svc">https://ws.epd-ad-a.bag.admin.ch/Cpi/CommunityPortalIndex.svc</soap12:address>
      <wsa10:EndpointReference>
        <wsa10:Address>https://ws.epd-ad-a.bag.admin.ch/Cpi/CommunityPortalIndex.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
